:root {
  --color-black:              #1D1D1D;
  --color-violet:             #4e5685;
  --color-light-grey:         #eeeeee;
  --color-grey:               #C1C1C1;

  --color-blue:               #d4fbff;
  --color-navy:               #6dc9f7;
  --color-pink:               #fa759e;
  --color-green:              #2fcc35;

  --border-radius:            3px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  min-width: 385px;
  width: 100%;
  background: #fff;
  color: var(--color-black);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

a {
  color: var(--color-black);
  text-decoration: none;
}

a:hover {
  color: var(--color-violet);
  opacity: 0.8;
}

.wrapper {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 40px 20px;
}
.title {
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: bolder;
}
